{{page-title "User"}}
<h2>Utilisateur</h2>
<Input @value={{this.nom}}/>
<h3>{{this.nom}}</h3>
<TitleDesc @title="Essai" @level="1" @visible={{false}}>
  <b>Description du dessous</b>
</TitleDesc>
{{outlet}}